@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.upload-component{
display: grid;
place-items: center;
justify-items: center;
align-items: center;
width: 100%;
height: 100vh;
overflow: hidden;
font-family: 'Montserrat', sans-serif;
}

        .btn {
  border: none;
  display: inline-block;
  border-radius: 5px;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 14px;
  padding: 17px 35px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.btn:before, 
.btn:after {
  content: ' ';
  position: absolute;
  border-radius: 5px;
}

.btn:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: #85FFC4;
  background: -moz-linear-gradient(left, #85FFC4 0%, #5CC6FF 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#85FFC4), color-stop(100%,#5CC6FF));
  background: -webkit-linear-gradient(left, #85FFC4 0%,#5CC6FF 100%);
  background: -o-linear-gradient(left, #85FFC4 0%,#5CC6FF 100%);
  background: -ms-linear-gradient(left, #85FFC4 0%,#5CC6FF 100%);
  background: linear-gradient(to right, #85FFC4 0%,#5CC6FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85FFC4', endColorstr='#5CC6FF',GradientType=1 );
}

.btn:after {
  top: 2px; 
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: #0b0b22;
  z-index: -1;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.btn:hover:after {
  opacity: 0;
}


.folder-icon{
  margin:0 px;
height: 180px;
width: 180px;
}



.toast{
  position: absolute;
  top: 10px;
  left: 0;
  height:60px;
  color:white;
  width:300px;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: toast-animate 1s ease-in-out;
}
@keyframes toast-animate {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
 
}
}

h1{
font-size: 2.5rem;
text-align: center;
}

.highlight{
    background-color: #f5f5f5;
    color:red;
  }
  .minimap-item{
    background-color: red;
    display:flex;
    flex-wrap: wrap;
    color:red;
    cursor:pointer;
    width: 100%;
    min-height:2px;
  }

  .minimap-item:hover{
    background-color: red;
    color:white;
    height:3px;
    border: 1px solid black;
  }

  .mini-map{
position: fixed;
top: 0;
right: 0;
min-width: 50px;
background-color: aqua;
max-height: 100vh;
min-height: 100vh;

  }



  
  body{
    background-color: #f5f5f5;
    position: relative;
    padding: 0;
    margin: 0;
  }